#page-container {
  font-family: 'Roboto', sans-serif;
  margin: -8px;
  padding: 0;
  color: #2a2d34;
}

#nav-container {
  text-align: center;
  background-color: #e3e3e3;
}


.nav-link {
  text-decoration: none;
  color: #2a2d34;
  display: block;
  padding: 2.5px 0 2.5px 0;
}

.nav-link:hover, .nav-link:active {
  background-color: #93dc28;
}

#main-doc {
  padding: 10px;
}

.section-header {
  font-size: 1.5em;
  padding-top: 10px; 
  border-top: solid 5px #93dc28;
}

/*
.section-header::before {
  border-top: solid 5px #93dc28;
  content: '';
  display: block;

}
*/
pre {
  background-color: #e3e3e3;
  border-left: solid 5px #93dc28;
}
