#page-container {
  font-family: 'Roboto', sans-serif;
  margin: -8px;
  padding: 0;
  color: #2a2d34;
}

#nav-container {
  text-align: center;
  background-color: #e3e3e3;
  border-bottom: 0.5px solid #2a2d34;
}

#navbar h1 {
  margin-top: 0;
  padding-top: 21.28px;
}

.nav-link {
  text-decoration: none;
  color: #2a2d34;
  display: block;
  padding: 5px 0 5px 0;
  border-top: 0.5px solid #2a2d34;
}

.nav-link:hover, .nav-link:active {
  background-color: #93dc28;
}

#main-doc {
  padding: 10px;
}

.main-section {
  border-bottom: solid 5px #93dc28;
}

.section-header {
  font-size: 1.5em;
  padding-top: 10px;
}

pre {
  background-color: #e3e3e3;
  border-left: solid 5px #93dc28;
}

#logo-container {
  text-align: center;
}

#logo {
  margin-top: 10px;
}

@media (min-width: 700px) {
  #page-container {
    display: grid;
    grid-template-columns: 220px 1fr;
    margin-top: -8px;
  }

  #main-doc {
    border-left: 1px solid black;
  }

  #navbar {
    position: sticky;
    top: 21.28px;
  }

  #navbar h1 {
    padding-top: 0;
  }
}
