#page-container {
  font-family: 'Roboto', sans-serif;
  margin: -8px;
  padding: 0;
}

#navbar {
  text-align: center;
}

.nav-link-container {
  display: block;
  padding: 2.5px 0 2.5px 0;
}

.nav-link {
  text-decoration: none;
}

#main-doc {
  padding: 10px;
}

.section-header {
  font-size: 1.5em;
}

pre {
  background-color: lightgrey;
}
